.back_title {
    color: darkgreen;
    border-bottom: 4px solid darkgreen;
}

.back_table {
    thead {
        background-color: darkgreen;
        color: white;
    }
    @include apple {
        width: 100%;
        overflow-x: auto;
        th {
            font-size: 12px !important;
        }
        td {
            font-size: 10px;
        }
        button {
            padding: 0;
            margin-top: 10px;
        }
    }
}

.back_modal_header {
    background-color: darkgreen;
    color: white;
}