//頂端背景圖片效果
.top_background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    background-attachment: fixed;
    min-height: 50vh;
    div {
        background: rgba(201, 200, 200, 0.5);
        padding: 15px 75px;
        color: black;
        font-size: 4rem;
    }
    @include Desktops {
        min-height: 30vh;
        div {
            padding: 15px 60px;
        }
    }
    @include apple {
        div {
            font-size: 2.5rem;
            padding: 5px 30px;
        }
    }
}

//封面
.product_backImg {
    background-image: url("https://images.unsplash.com/photo-1599660869952-3852916ff82b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80");
}

.favorite_backImg {
    background-image: url("https://images.unsplash.com/photo-1610348725531-843dff563e2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.checkOrder_backImg {
    background-image: url("https://images.unsplash.com/photo-1624668430039-0175a0fbf006?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

// 種類選擇效果
.product_filter_button {
    border: 4px solid darkgreen;
    &:hover,
    &:active {
        background-color: darkgreen;
        a {
            color: white !important;
        }
    }
}

.product_filter_active {
    background-color: darkgreen;
    a {
        color: white !important;
    }
}

// 商品卡片效果
.card {
    width: 250px;
    .card-img-wrap {
        overflow: hidden;
        cursor: pointer;
        &:hover {
            .card-img {
                transform: scale(1.2);
                transition: .75s ease;
            }
            .card-layer {
                opacity: 1;
            }
        }
        .card-img {
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card-layer {
            height: 250px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            background-color: #10111175;
            .card-layer-text {
                font-size: 20px;
                position: absolute;
                color: white;
            }
        }
    }
}

//收藏愛心效果
.favorite {
    color: darkgreen;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

//商品詳細
.product_detail_img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-position: center center;
    @include Desktops {
        width: 100%;
        height: 400px;
    }
    @include apple {
        min-width: 100%;
    }
}

.product_detail_word {
    padding-left: 50px;
    p {
        white-space: pre-line;
        overflow-wrap: break-word;
    }
    .product_detail_description {
        line-height: 30px;
        font-size: 18px;
        font-weight: 600;
    }
    .product_detail_content {
        line-height: 25px;
        font-size: 18px;
        font-weight: 600;
    }
}

.product_detail_align {
    background-color: rgba(247, 244, 244, 0.823);
    font-weight: 600;
    font-size: 20px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.product_detail_btn {
    color: darkgreen;
    background-color: white;
    border: 1px solid darkgreen;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 10rem;
    @include Desktops {
        max-width: 30vw;
        font-size: 16px;
        margin: 0;
    }
    @include apple {
        // margin-left: 15rem;
    }
}

.product_detail_btn:hover {
    background-color: darkgreen;
    color: white;
    border: none;
}