.navbar_cart {
    min-width: 500px !important;
    position: absolute !important;
    right: -10px !important;
    top: 65px !important;
    @include mdDesktops {
        min-width: 500px !important;
        right: -10px !important;
    }
    @include pad {
        min-width: 340px !important;
        right: -15px !important;
    }
}

//購物車陰影
.dropdown-menu {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}