// 種類選擇效果
.product-filter {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

// 商品卡片效果
.card {
    width: 250px;
    .card-img-wrap {
        overflow: hidden;
        cursor: pointer;
        .card-img {
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card-layer {
            height: 250px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            background-color: #10111175;
            .card-layer-text {
                font-size: 20px;
                position: absolute;
                color: white;
            }
        }
    }
}

.card-img-wrap:hover {
    .card-img {
        transform: scale(1.2);
        transition: .75s ease;
    }
    .card-layer {
        opacity: 1;
    }
}

.favorite {
    color: rgba(105, 128, 0, 0.829);
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}


/*隱藏number箭頭*/


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}